.footer-custom {
  /* background-color: rgba(62, 61, 87, 1) !important; */
  background-color: #052f6f !important;
  font-family: "Varela", sans-serif;
}

a {
  font-size: 0.8em;
  text-decoration: none;
}

hr {
  width: 90%;
  color: white;
}
