@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");

.carousel-main {
  background-image: linear-gradient(
    to right top,
    #052f6f,
    #0065ab,
    #009aaf,
    #00c97a,
    #a8eb12
  );
  font-family: "Varela", sans-serif;
}

span {
  font-size: 1.5em;
  margin-left: 12px;
  text-shadow: 0px -1px 15px #5624e0;
  font-weight: 700;
}

h2 {
  font-size: 3em;
  margin-left: 40px;
  text-shadow: 0px -1px 15px #5624e0;
  font-weight: 700;
}

i {
  font-size: 1.5em;
  margin-right: 12px;
  text-shadow: 0px -1px 15px #5624e0;
}

.carousel-control-prev,
.carousel-control-next {
  top: 79%; /* moves controls lower */
  transform: translateY(-400%);
  color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent;
  filter: invert(1);
}

.carousel-control-prev {
  left: 55rem; /* move inward from the left */
}

.carousel-control-next {
  right: -1rem; /* move inward from the right */
}

.selected-city {
  -webkit-box-shadow: 2px 2px 19px 8px #9f82ff;
  box-shadow: 2px 2px 19px 8px #9f82ff;
}
