/* :root {
  background-color: linear-gradient(
    0deg,
    rgba(90, 86, 184, 1),
    rgba(62, 61, 87, 1)
  );
} */

@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");

:root {
  background-color: rgba(62, 61, 87, 1);
  font-family: "Varela", sans-serif;
}
